body {
    background-image: url(img/san.jpg);
}

a {
    color: black;
}

h1 {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}
a  {
   -webkit-text-fill-color: rgb(53, 6, 6);
   background-image: url(img/20240511_174935.jpg);
   
}
